.caseCard {
    border: 2px solid rgba(242, 92, 58, 1);
    padding: 20px;
    border-radius: 32px;
    background: rgba(59, 0, 59, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.caseTitle {
    font-family: ceraPro;
    font-weight: 900;
    font-size: 28px;
    
    margin-bottom: 10px;
}

.tags {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.imageSize {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}