:root {
    --background: rgba(47, 22, 52, 1);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 100%;
    height: 100%;
    
    background: var(--background);
    background-image: url(/svg/Desktop.svg);
    background-color: rgba(47, 22, 52, 1);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.image {
    object-fit: cover;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    object-position: center top;
    z-index: -1;
    pointer-events: none;
    /* чтобы не перекрывала клики, если нужно */

}