.h1 {
    font-family: ceraPro;
}

.main {
    flex: 1;
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width:1919px) {
        padding: 0px 20px;
    }

    @media (max-width: 599px) {
        margin-top: 80px;
        padding: 0px 15px;
    }
}