.button {
    padding: 11px 28px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    
    @media (max-width: 1919px) {
        padding: 8px 16px;
    }

    @media (max-width: 599px) {
        display: none;
    }
}

.button:hover {
    background-color: white;
    color: rgba(47, 22, 52, 1);

    & .mail {
        filter: invert(0.8);
    }
}

.text {
    font-family: ceraPro;
    font-weight: 500;
    font-size: 14px;

    line-height: 170%;
    text-align: center;

    @media (max-width: 1919px) {
        display: none;
    }
}

.mail {
    display: none;

    @media (max-width: 1919px) {
        display: inline;
    }
}